@import "tailwindcss";

@theme {
  --color-primary: #f99b59;
  --color-secondary: #e76f51;
  --color-background: #130b01;

  --color-surface: #ffffff;
  --color-text: #111827;
  --color-muted: #6b7280;
  --color-danger: #ef4444;
  --color-danger-hover: #b91c1c;
}

body {
  font-family: var(--font-roboto);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}
